/* @import url('https://fonts.googleapis.com/css?family=Baloo+Paaji'); */
/* Đã loại bỏ phần import vì CSS Modules không hỗ trợ import bên ngoài */

body {
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Paaji', cursive;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input1 {
    outline: none;
    border: 0;
    background-color: #E1E1E1;
    border-radius: 5px;
    font-family: 'Baloo Paaji', cursive;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
}

input[type="time"],
input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.hu {
    display: flex;
}

.hi {
    padding-right: 30px;
    text-align: left;
}

.outform {
    width: 400px;
}

.ntd3 {
    width: 560px;
}

.ndt31 {
    width: 100px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Canh trái */
    /* align-items: center;  Canh giữa */
    /* align-items: flex-end; Canh phải */
}

.formItem {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px; /* Đặt độ rộng cho nhãn */
    text-align: left; /* Canh phải nhãn */
    margin-right: 10px;
}

.hh {
    width: 120px;
    height: 56px;
}

.f {
    display: flex;
    width: 600px;
}
